@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.container-title {
  background-image: url(../imagens/casamento.jpg);
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Ballet", cursive;
}

.count {
  background-color: #ffbe98;
  max-width: 100vw;
  height: 50vh;
}

.container-section {
  width: 100vw;
  height: 100vh;
}

.tittle-count {
  color: aliceblue;
  width: 100%;
  padding-top: 0.5em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-content {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poema {
  margin: 2rem 0 4rem 0;
  font-style: italic;
  align-items: center;
}

.search {
  width: 280px;
  margin-top: 30px;
}

.container-forms {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.button-search {
  border: solid 2px #ffbe98;
  color: #ffbe98;
}

.button-search:hover {
  background-color: #ffbe98;
  border: #ffbe98;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: grey;
}

body::-webkit-scrollbar {
  width: 6px;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .search {
    width: 80%;
    max-width: 280px;
  }
  
  .container-section {
    padding: 20px;
  }
}
